@tailwind base;
@tailwind components;
@tailwind utilities;

.recipe-content {
  @apply text-slate-600;
}

.recipe-content {
  h2,
  h3,
  h4 {
    @apply my-4 font-bold uppercase text-[#D93B85];
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-xl;
  }
  p {
    @apply my-4;
  }
  li {
    @apply ml-8 mb-2;
  }
  .wprm-recipe-ingredient {
    @apply my-4;
  }
  .wprm-recipe-ingredient-amount {
    @apply bg-slate-300 p-1 text-xl;
  }
  .wprm-recipe-details-label {
    @apply inline-block w-32 font-bold;
  }
  .wprm-recipe-ingredient-name {
    @apply font-bold capitalize;
  }
  .wprm-nutrition-label-container {
    @apply gap-3 leading-10;
  }
  .wprm-nutrition-label-text-nutrition-label {
    @apply mr-1 whitespace-nowrap rounded bg-slate-300 p-1;
  }
  .wprm-nutrition-label-text-nutrition-value {
    @apply mx-1;
  }
  .smart-points {
    @apply my-4;
  }
  .wprm-recipe-blue_smartpoints {
    @apply rounded bg-blue-600 px-1.5 text-white;
  }
  .wprm-recipe-green_smartpoints {
    @apply rounded bg-green-600 px-1.5 text-white;
  }
  .wprm-recipe-purple_smartpoints {
    @apply rounded bg-purple-600 px-1.5 text-white;
  }
}

@media (min-width: 300px) {
  .AdContainer {
    width: 300px;
  }
  .banner {
    height: 100px;
  }
  .banner_sm {
    height: 50px;
  }
  .rectangle {
    height: 200px;
  }
}
@media (min-width: 468px) {
  .AdContainer {
    width: 468px;
    height: 60px;
  }
}
@media (min-width: 728px) {
  .AdContainer {
    width: 728px;
    height: 90px;
  }
}
@media (min-width: 970px) {
  .AdContainer {
    width: 970px;
    height: 90px;
  }
  .safe {
    width: 728px;
  }
  .banner_lg {
    height: 250px;
  }
}

@media (min-width: 1920px) {
  .safe {
    width: 970px;
  }
}
